{{#partial "content"}}

    {{#if allCakes}}

        {{#each allCakes}} <!--loop-->

        <h3>Type of Cake:</h3><p> {{cakes}}</p><hr>


        <h3>Type of Sprinkles:</h3><p> {{sprinkles}}</p><hr>


        <h3>Type of Frosting:</h3><p> {{frosting}}</p><hr>


        <h3>Type of Filling:</h3><p> {{filling}}</p><hr>

        <br><p><a href="/cakes/{{id}}"> read more...</a></p>
        <br>




        {{/each}}
    {{else}}
        <p>No Cakes made!</p>
    {{/if}}
{{/partial}}


{{> layout.hbs}}
